@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Lexend:wght@300&family=Pacifico&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

:root {
  --primery-color: #ff0f1f;
  --secondary-color: rgba(185, 210, 224, 0.25);
}

.navbar .navbar-nav .nav-link:hover {
  color: rgb(231, 27, 153);
  border-bottom: 1px solid rgb(121, 18, 86);
}
#service-section {
  margin-top: 100px;
  min-height: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#service-section h2 {
  margin-top: 50px;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
}
.fashion {
  font-family: "Pacifico", cursive !important;
  text-align: center;
  background-color: transparent !important;
  text-transform: uppercase;
  background: #060a40;
  background: -webkit-repeating-radial-gradient(
    ellipse farthest-corner at bottom center,
    #060a40 0%,
    #9c08ff 89%
  );
  background: -moz-repeating-radial-gradient(
    ellipse farthest-corner at bottom center,
    #060a40 0%,
    #9c08ff 89%
  );
  background: repeating-radial-gradient(
    ellipse farthest-corner at bottom center,
    #060a40 0%,
    #9c08ff 89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-family: "Pacifico", cursive !important;
  text-align: center;
  background-color: transparent !important;
  text-transform: uppercase;
  background: #060a40;
  background: -webkit-repeating-radial-gradient(
    ellipse farthest-corner at bottom center,
    #757ce0 0%,
    #b374dd 89%
  );
  background: -moz-repeating-radial-gradient(
    ellipse farthest-corner at bottom center,
    #6970db 0%,
    #7f5c96 89%
  );
  background: repeating-radial-gradient(
    ellipse farthest-corner at bottom center,
    #4951b9 0%,
    #82728d 89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#service-section h2::after {
  position: absolute;
  content: "";
  top: 30%;
  left: -30px;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid var(--primery-color);
}
#service-section h2::before {
  position: absolute;
  content: "";
  top: 30%;
  right: -30px;
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid var(--primery-color);
}
#service-section #pergraph {
  width: 40%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 1.5rem;
  white-space: 1px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  z-index: 9;
  margin-top: 20px;
  margin-bottom: 30px;
}
.cards .card {
  height: 280px;
  width: 380px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 8%;
  background: #cc00ff;
  position: relative;
}
.cards .card::before {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: #ff3399;
  transform: rotate(0deg);
  z-index: -1;
}
.cards .card:hover.card::before {
  transform: rotate(10deg);
}
.cards .card i {
  font-size: 2.5rem;
  color: var(--primery-color);
  margin-top: 40px;
  margin-bottom: 10px;
}

.cards .card .content p {
  color: #fff;
  font-size: 1.05rem;
  margin-bottom: 20px;
  font-weight: 5600;
}
@media (max-width: 1100px) {
  #service-section h2 {
    margin-top: 30px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  #service-section #paragraph {
    width: 80%;
  }
}
